.DashAdminContainer {
    height: 75.8vh;
    background-image: url("https://i.pinimg.com/originals/50/75/c2/5075c2bb1003f49de2652237c6d331c4.jpg");
  }
  
  .StylesRow {
    height: 100%;
  }
  
  .StylesRow h1 {
    margin-top: 170px;
  }
  
  .StylesRow h1 b{
    color: aliceblue;
    text-shadow: 3px 3px midnightblue;
  }